<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-container">
        <div class="hero-content">
          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %} {% if site.description != '' or site.enable_contact ==
          true %}
          <div class="image-text">
            <img class="profile-picture" src="../img/me.png" />

            <p class="text-center">
              {% if site.description != '' %} {{site.description}} {% endif %}
              Most recently I built
              <a target="_blank" href="https://artemis-load-testing.github.io/"
                >Artemis</a
              >, an open-source framework for serverless testing of APIs.
            </p>
          </div>
          {% endif %}

          <div class="hero-buttons">
            <a href="../assets/files/Sophie_McGarity_Resume.pdf" target="_blank"
              ><button class="btn btn-default btn-lg">
                <i class="fa fa-file fa-lg"></i>Resume
              </button></a
            >
            <a
              target="_blank"
              href="https://github.com/{{ site.github_username }}"
              ><button class="btn btn-default btn-lg">
                <i class="fa fa-github fa-lg"></i>Github
              </button></a
            >
            <a
              target="_blank"
              href="https://www.linkedin.com/in/{{ site.linkedin }}"
              ><button class="btn btn-default btn-lg">
                <i class="fa fa-linkedin fa-lg"></i>Linkedin
              </button></a
            >
          </div>
        </div>
      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>
    </div>
  </div>
</div>
