{% include header.html %} {% include home-hero.html %}

<main id="portfolio">
  <div class="container" id="artemis">
    <div class="row">
      <div class="col-md-12">
        {% for post in paginator.posts %}
        <div class="wow fadeIn">
          {% if post.position == "left" %} {% include content-left.html %} {%
          endif %} {% if post.position == "right" %} {% include
          content-right.html %} {% endif %}
        </div>
        {% endfor %} {% include pagination.html %}
      </div>
    </div>
  </div>

  <div class="container" id="other-projects">
    <h2>Other projects</h2>
    <div class="project-cards">
      <div class="card">
        <img
          class="card-img-top"
          src="../img/tortoise-bin.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Tortoise Bin</h4>
          <p class="card-text">A tool to inspect and debug webhook requests.</p>
          <div class="tags">
            <span>Nginx</span>
            <span>PM2</span>
            <span>PostgreSQL</span>
            <span>DigitalOcean Droplet</span>
          </div>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../img/trellis.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Trellis</h4>
          <p class="card-text">A Trello-like kanban board for task tracking.</p>
          <div class="tags">
            <span>React</span>
            <span>Redux</span>
            <span>MongoDB</span>
            <span>NodeJS</span>
            <span>Express</span>
          </div>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../img/shopping_cart.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">Shopping Cart</h4>
          <p class="card-text">A database-backed inventory management app.</p>
          <div class="tags">
            <span>React</span>
            <span>Redux</span>
            <span>MongoDB</span>
            <span>NodeJS</span>
          </div>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../img/todolist-2.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title">TodoList</h4>
          <p class="card-text">
            A full-stack web application for keeping track of your todos.
          </p>
          <div class="tags">
            <span>Ruby</span>
            <span>PostgreSQL</span>
            <span>Sinatra</span>
            <span>Heroku</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
